[[source]]
url = "https://pypi.python.org/simple"
verify_ssl = true
name = "pypi"

[packages]

apscheduler = "*"
flask = "*"
"flask-assets" = "*"
"jinja2" = "*"
cssmin = "*"
"google-api-python-client" = "*"
requests = "*"
soco = "*"
"beautifulsoup4" = "*"

[dev-packages]
"flake8" = "*"
