[[source]]
url = "https://pypi.python.org/simple"
verify_ssl = true
name = "pypi"

[packages]

APScheduler = "==3.3.1"
Flask = "==0.12.2"
"Flask-Assets" = "==0.12"
"Jinja2" = "==2.9.6"
cssmin = "==0.2.0"
"google-api-python-client" = "==1.6.2"
lxml = "==3.6.0"
pyquery = "==1.2.17"
requests = "==2.17.3"
soco = "==0.12"


[dev-packages]

flake8 = "==3.4.1"
