[[source]]
url = "https://pypi.python.org/simple"
verify_ssl = true
name = "pypi"

[packages]

apscheduler = "==3.3.1"
flask = "==0.12.2"
"flask-assets" = "==0.12"
"jinja2" = "==2.9.6"
cssmin = "==0.2.0"
"google-api-python-client" = "==1.6.2"
requests = "==2.17.3"
soco = "==0.12"
"beautifulsoup4" = "==4.6.0"


[dev-packages]
"flake8" = "==3.4.1"
