APScheduler==2.1.1
Flask-Assets==0.8
Flask==0.10.1
Jinja2==2.7.1
Werkzeug==0.9.4
cssmin==0.2.0
cssselect==0.9.1
docopt==0.6.1
google-api-python-client==1.2
httplib2==0.8
itsdangerous==0.23
lxml==3.2.3
markupsafe==0.18
pyquery==1.2.6
python-gflags==2.0
requests==2.1.0
rjsmin==1.0.7
soco==0.6
webassets==0.8
