APScheduler==2.1.2
Flask==0.11
Flask-Assets==0.12
Jinja2==2.8
MarkupSafe==0.23
Werkzeug==0.11.10
args==0.1.0
click==6.6
clint==0.5.1
cssmin==0.2.0
cssselect==0.9.1
docopt==0.6.2
google-api-python-client==1.5.1
httplib2==0.9.2
itsdangerous==0.24
lxml==3.6.0
oauth2client==2.1.0
pyasn1==0.1.9
pyasn1-modules==0.0.8
pyquery==1.2.13
requests==2.10.0
rjsmin==1.0.12
rsa==3.4.2
simplejson==3.8.2
six==1.10.0
soco==0.11.1
uritemplate==0.6
webassets==0.11.1
