APScheduler==2.1.2
Flask==0.12.2
Flask-Assets==0.12
Jinja2==2.9.6
MarkupSafe==1.0
Werkzeug==0.12.2
args==0.1.0
click==6.7
clint==0.5.1
cssmin==0.2.0
cssselect==0.9.2
docopt==0.6.2
google-api-python-client==1.5.5
httplib2==0.9.2
itsdangerous==0.24
lxml==3.6.0
oauth2client==4.0.0
pyasn1==0.1.9
pyasn1-modules==0.0.8
pyquery==1.2.17
requests==2.12.4
rsa==3.4.2
simplejson==3.8.2
six==1.10.0
soco==0.12
uritemplate==3.0.0
webassets==0.12.1
