[data-widget="hn"] {
  height: 100%;
  padding: 5px;
  background: #e9b64d;
  text-align: center;
}
[data-widget="hn"] table {
  margin: 0 6px 0 6px;
}
[data-widget="hn"] .title {
  text-align: left;
  width: 100%;
}
[data-widget="hn"] .points {
  text-align: right;
  white-space: nowrap;
}
