[data-widget="sonos"] {
  height: 100%;
  padding: 5px;
  background: #e18942;
  text-align: center;
}

[data-widget="sonos"] h1,
[data-widget="sonos"] h2,
[data-widget="sonos"] p:not(.updated-at) {
  margin-top: 15px;
  margin-bottom: 15px;
}

[data-widget="sonos"] .outline {
  /* Add outline to text */
  text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
}

[data-widget="sonos"] h1 {
  margin-top: 45px;
}
