JOBS = {}

JOBS['yr'] = {
    # Enable job
    'enabled': True,
    # Run job every N seconds
    'interval': 60,
    # URL for data
    'url': ('http://www.yr.no/sted/Norge/S%C3%B8r-Tr%C3%B8ndelag/Trondheim/'
            'Trondheim/varsel.xml')
}

JOBS['time'] = {
    'enabled': True
}

JOBS['atb'] = {
    'enabled': False,
    'interval': 60,
    'url': ('http://api.busbuddy.no/api/1.4.4/departures/yourLocationId'
            '?apiKey=yourApiKey')
}

JOBS['hackernews'] = {
    'enabled': True,
    'interval': 900
}

JOBS['sonos'] = {
    'enabled': False,
    'interval': 10,
    'ip': 'ip.addr'
}

JOBS['calendar'] = {
    'enabled': False,
    'interval': 600,
    'client_id': '',
    'client_secret': '',
    'api_key': ''
}

JOBS['uptime'] = {
    'enabled': False,
    'interval': 60,
    'hosts': [
        {
            'label': 'Router',
            'ip': 'ip.addr'
        },
        {
            'label': 'Laptop',
            'ip': 'ip.addr'
        }
    ]
}

JOBS['plex'] = {
    'enabled': False,
    'interval': 900,
    'movies': 'http://ip:port/library/sections/2/recentlyAdded/',
    'shows': 'http://ip:port/library/sections/1/recentlyAdded/'
}

JOBS['nsb'] = {
    'enabled': False,
    'interval': 900,
    # See http://www.nsb.no for valid locations
    'from': 'from_location',
    'to': 'to_location'
}

JOBS['ping'] = {
    'enabled': False,
    'interval': 3,
    'hosts': [
        ('google.com', 'google.com'),
        ('gw', '10.0.0.1')
    ]
}

JOBS['gmail'] = {
    'enabled': False,
    'interval': 600,
    'email': 'your.username@gmail.com',
    # Generate a application-specific password at
    # https://accounts.google.com/b/0/IssuedAuthSubTokens#accesscodes
    'password': 'application-specific-password',
    'folder': 'Inbox'
}

JOBS['avinor'] = {
    'enabled': False,
    'interval': 180,
    'from': 'TRD',
    'to': 'OSL'
}
