#stats {
    height: 100%;
    padding: 5px;
    background: #3d362d;
    text-align: center;

    h1 {
        font-size: 18px;
        margin-bottom: 30px;
    }

    #coffee, #beer {
        height: 85px;
    }

    em {
        font-style: normal;
        color: white;
    }

    .values {
        font-size: 16px;
        margin: 0;
    }
}
