[data-widget="sonos"] {
  height: 100%;
  padding: 5px;
  background: #e18942;
  text-align: center;
}
[data-widget="sonos"] h1 {
  font-size: 25px;
  margin: 0;
}
[data-widget="sonos"] p {
  font-size: 18px;
}
[data-widget="sonos"] .duration {
  font-size: 14px;
}
