#plex {
  height: 100%;
  padding: 5px;
  background: #7A3E48;
  text-align: center;
}
#plex p {
  font-size: 18px;
}
#plex table {
  margin: 0 10px 0 10px;
}
#plex .title {
  text-align: left;
  width: 100%;
  font-size: 16px;
}
#plex .year {
  text-align: right;
  white-space: nowrap;
  font-size: 16px;
}
#plex hr {
  border: 0;
  height: 1px;
  width: 90%;
  background-color: rgba(255, 255, 255, 0.2);
}
