<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width">
    <title>JARVIS</title>
    <link rel="stylesheet" href="//fonts.googleapis.com/css?family=Montserrat:700">
    <link rel="stylesheet" href="/static/normalize-css/normalize.css">
    <link rel="stylesheet" href="/static/gridster/dist/jquery.gridster.min.css">
    <link rel="stylesheet" href="/styles.css">
  </head>
  <body>
    <h1>JARVIS</h1>
    {% include 'layout.html' %}
    <script src="/static/jquery/jquery.min.js"></script>
    <script src="/static/gridster/dist/jquery.gridster.min.js"></script>
    <script>
      $(function(){
        $(".gridster ul").gridster({
          widget_margins: [10, 10],
          widget_base_dimensions: [140, 140]
        });
      });
    </script>
  </body>
</html>
