<!doctype html>
<html lang="en" ng-app="jarvis">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width">
    <title>JARVIS</title>
    <link rel="stylesheet" href="//fonts.googleapis.com/css?family=Montserrat:700">
    <link rel="stylesheet" href="/static/components/normalize-css/normalize.css">
    <link rel="stylesheet" href="/static/components/gridster/dist/jquery.gridster.min.css">
    <link rel="stylesheet" href="/styles.css">
  </head>
  <body ng-controller="EventCtrl">
    {% include 'layout.html' %}
    <script src="/static/components/jquery/jquery.min.js"></script>
    <script src="/static/components/gridster/dist/jquery.gridster.min.js"></script>
    <script src="/static/components/angular/angular.min.js"></script>
    <script src="/static/js/app.js"></script>
  </body>
</html>
