<!doctype html>
<html lang="en" ng-app="jarvis">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width">
    <title>JARVIS</title>
    <link rel="stylesheet" href="//fonts.googleapis.com/css?family=Montserrat:700">
    {% if config['DEBUG'] %}
    <link rel="stylesheet" href="/static/css/normalize-css/normalize.css">
    <link rel="stylesheet" href="/static/css/gridster/jquery.gridster.min.css">
    {% assets "less_all" %}
    <link rel="stylesheet/less" href="{{ ASSET_URL }}">
    {% endassets %}
    {% else %}
    {% assets "css_all" %}
    <link rel="stylesheet" href="{{ ASSET_URL }}">
    {% endassets %}
    {% endif %}
  </head>
  <body>
    {% include 'layout.html' %}
    {% if config['DEBUG'] %}
    <script src="/static/js/jquery/jquery.min.js"></script>
    <script src="/static/js/less.js/less-1.3.3.min.js"></script>
    <script src="/static/js/gridster/jquery.gridster.min.js"></script>
    <script src="/static/js/angular/angular.min.js"></script>
    <script src="/static/js/gridster.js"></script>
    <script src="/static/js/app.js"></script>
    {% else %}
    {% assets "js_all" %}
    <script src="{{ ASSET_URL }}"></script>
    {% endassets %}
    {% endif %}
  </body>
</html>
