[data-widget="stats"] {
  height: 100%;
  padding: 5px;
  background: #3d362d;
  text-align: center;
}
[data-widget="stats"] h1 {
  font-size: 20px;
  margin-bottom: 50px;
}
[data-widget="stats"] table {
  width: 100%;
}
[data-widget="stats"] tr {
  font-size: 25px;
}
