[data-widget="stockquotes"] {
    height: 100%;
    padding: 5px;
    background: #c46252;
    text-align: center;
}

[data-widget="stockquotes"] h1 {
    font-size: 20px;
}

[data-widget="stockquotes"] table {
    width: 100%;
    font-size: 18px;
}
