<!doctype html>
<html lang="en" ng-app="jarvis">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width">
    <title>JARVIS</title>
    <link rel="stylesheet" href="//fonts.googleapis.com/css?family=Montserrat">
    {% if config['DEBUG'] %}
    {% assets "css_all" %}
    <link rel="stylesheet" href="{{ ASSET_URL }}">
    {% endassets %}
    {% else %}
    {% assets "css_min_all" %}
    <link rel="stylesheet" href="{{ ASSET_URL }}">
    {% endassets %}
    {% endif %}
  </head>
  <body>
    {% if layout %}
    {% include layout %}
    {% else %}
    {% include 'layout.html' %}
    {% endif %}
    {% if config['DEBUG'] %}
    {% assets "js_all" %}
    <script src="{{ ASSET_URL }}"></script>
    {% endassets %}
    {% else %}
    {% assets "js_min_all" %}
    <script src="{{ ASSET_URL }}"></script>
    {% endassets %}
    {% endif %}
  </body>
</html>
