<div class="gridster" ng-controller="EventCtrl" ng-cloak>
  <ul>
    {% if is_widget_enabled('yr') %}
    <li data-row="1" data-col="1" data-sizex="2" data-sizey="2">
      {{ include_widget('yr', locale) }}
    </li>
    {% endif %}
    {% if is_widget_enabled('time') %}
    <li data-row="1" data-col="2" data-sizex="2" data-sizey="2">
      {{ include_widget('time', locale) }}
    </li>
    {% endif %}
    {% if is_widget_enabled('atb') %}
    <li data-row="1" data-col="3" data-sizex="2" data-sizey="2">
      {{ include_widget('atb', locale) }}
    </li>
    {% endif %}
    {% if is_widget_enabled('hackernews') %}
    <li data-row="1" data-col="4" data-sizex="2" data-sizey="2">
      {{ include_widget('hackernews', locale) }}
    </li>
    {% endif %}
    {% if is_widget_enabled('avinor') %}
    <li data-row="2" data-col="1" data-sizex="2" data-sizey="2">
      {{ include_widget('avinor', locale) }}
    </li>
    {% endif %}
    {% if is_widget_enabled('calendar') %}
    <li data-row="2" data-col="2" data-sizex="2" data-sizey="2">
      {{ include_widget('calendar', locale) }}
    </li>
    {% endif %}
    {% if is_widget_enabled('uptime') %}
    <li data-row="2" data-col="3" data-sizex="2" data-sizey="2">
      {{ include_widget('uptime', locale) }}
    </li>
    {% endif %}
    {% if is_widget_enabled('plex') %}
    <li data-row="2" data-col="4" data-sizex="2" data-sizey="2">
      {{ include_widget('plex', locale) }}
    </li>
    {% endif %}
    {% if is_widget_enabled('nsb') %}
    <li data-row="3" data-col="1" data-sizex="2" data-sizey="2">
      {{ include_widget('nsb', locale) }}
    </li>
    {% endif %}
    {% if is_widget_enabled('ping') %}
    <li data-row="3" data-col="2" data-sizex="4" data-sizey="2">
      {{ include_widget('ping', locale) }}
    </li>
    {% endif %}
    {% if is_widget_enabled('gmail') %}
    <li data-row="3" data-col="4" data-sizex="2" data-sizey="2">
      {{ include_widget('gmail', locale) }}
    </li>
    {% endif %}
  </ul>
</div>
